html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
	padding: 1em;
}

h2 {
	margin-top: 50px;
}


/* .grid{
  display:grid;
  grid-template-rows: 800px 800px;
} */

.map{
  display:block;
  height:500px;
  width:100%;
  background:black;
  /* grid-row: 2/3; */
}

.text{
  /* grid-row: 1/2; */
}

.swiper{
  width: 80%;
  height: 100%;
}

.swiper-slide img{
  width:100%;


}
